.devices {
  padding-bottom: 50px;
  background-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("../images/devices/devices_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.devices__mobile-pic {
  position: absolute;
  bottom: -50px;
  right: 350px;
}

.devices__content {
  position: relative;
}

.devices__tablet-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.devices__cage-pic {
  position: relative;
}
