.footer {
  padding-top: 80px;
}

.footer__col {
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
}

.footer__desc {
  font-size: 13px;
  margin-top: 26px;
  margin-bottom: 26px;
  color: var(--text-color);
}

.footer__followers-count {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}

.footer__followers-text {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 5px;
}

.footer__followers-number {
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  text-transform: uppercase;
}

.footer__follower-letter {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.footer__media-cta {
  padding-right: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__social-item {
  margin-right: 10px;
  list-style-type: none;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
}
.footer__subscribe {
  display: flex;
  margin-top: auto;
}

.footer__input {
  flex-grow: 1;
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border: 1px solid var(--text-color);
  font-size: 18px;
  width: 100%;
}

.prime-btn {
  display: inline-block;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
}

.prime-btn:hover {
  cursor: pointer;
}

.footer__col-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.news-card {
  display: flex;
}

.news-card:hover .news-card-img {
  transform: scale(1.1);
  transition: 0.5s;
}

.news-card__content {
  padding-left: 30px;
}
.news-card__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__news-card {
  margin-bottom: 20px;
}

.news__card-link {
  text-decoration: none;
  color: var(--primary-color);
  width: 35%;
  flex-shrink: 0;
}

.footer__news-card:last-child {
  margin-bottom: 0;
}

.footer__inst-list {
  margin-bottom: 30px;
}

.footer__inst-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.footer__copyright {
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  border-top: 1px solid var(--text-color);
  padding: 10px 0;
}
